/*
3 color
Yellow #FFC107    255,192,53,.8   ffbf60  ?
Red #FF5722       255,83,46,.8
BlueGray #607D8B   96,125,139,.8
overlay rgba(244,134,58,0.01)

new colors (from Yellow)
light Yellow #FFD453
light green (seawave) #20FFC8
bright blue #0733FF
blue #1A98CC   link  26,152,204,1
sky blue #4798FF





backgrounds
dark 333333      --- 484848
white eee


old colors
Red #f44336
Green #009688
LightBlue #03a9f4
Dark Blue #3f51b5
Purple #9c27b0

.btn-custom {
  background-color: hsl(40, 100%, 57%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe2a8", endColorstr="#feb523");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe2a8), to(#feb523));
  background-image: -moz-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -ms-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe2a8), color-stop(100%, #feb523));
  background-image: -webkit-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -o-linear-gradient(top, #ffe2a8, #feb523);
  background-image: linear-gradient(#ffe2a8, #feb523);
  border-color: #feb523 #feb523 hsl(40, 100%, 50.5%);
*/

.row {
  margin-left: 0;
  margin-right: 0;
}
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 128px;
  width: 128px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; 
  }
.home {  
  /*background-image: url(img/happiness_2+.jpg);*/
  background-attachment: fixed;
 /* background-color: #20FFC8;*/
   background-color: #538FBD;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

}
.home #start_loader {
    background-color: #538FBD;
}
/*body input:focus:required:invalid,*/
/*body textarea:focus:required:invalid {*/
  /*color: red;*/
/*}*/

/*body input:required:valid,*/
/*body textarea:required:valid {*/
  /*color: green;*/
/*}*/

.hidden {
  display: none;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "RobotoCondensed-Regular", sans-serif;
  text-transform: uppercase;
}
h1.lead, h2.lead, h3.lead, h4.lead, h5.lead, h6.lead, .h1.lead, .h2.lead, .h3.lead, .h4.lead, .h5.lead, .h6.lead  {
  font-family: "RobotoCondensed-Bold", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 28px;
}

.lead h1 {
  font-size: 40px;
}
.lead h2 {
  font-size: 30px;
}
.lead p {
  font-family: "RobotoCondensed-Light", sans-serif;
  font-weight: lighter;
}
.btn {
  border-radius: 3px;
}




/* -----sidebar----- */



.sidebar {
  position: fixed;
  top: 200px;
  right: 40px;
  width: 150px;
  z-index: 1000;
  font-size: 18px;
  border-radius: 7px;
}

.sidebar a:hover, 
.sidebar a:focus {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: #FFC107;
    /*color: #FFC107;
    text-shadow: 0px 0px 0.5px rgba(0,0,0,0.5), 0px 0px 8px white, 0px 0px 15px white, 0px 0px 10px white, 0px 0px 20px white; */
    -webkit-animation: sidebar_shadow_on 0.5s ;
    animation: sidebar_shadow_on 0.5s ;

}
@keyframes sidebar_shadow_on {
from {color: transparent; text-shadow: none; }
to {color: #FFC107; text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); }

}
.sidebar a {
    color: transparent;
    text-shadow: none;
     -webkit-animation: sidebar_shadow_off 0.5s ;
    animation: sidebar_shadow_off 0.5s ;

}
@keyframes sidebar_shadow_off {
from {color: #FFC107; text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);}
to {color: transparent; text-shadow: none; }

}
 
.menu_icon {
  margin-left: 10px;
  font-size: 25px;
}
.menu_icon i  {
  display: block;
  top: -40px;
  right: 10px;

}

.sidebar .active .menu_icon {
  color: #FFC107; 
 

}

.nav-pills .active a:after {
  content: "";
  border: 1px #FFC107 solid;
  border-radius: 50px;
  padding: 5px;
  width: 50px;
  height: 50px;
  right: 19px;
  top: -26px;
  position: absolute;
/* -webkit-animation: sidebar_circle_off 0.9s ;
  animation: sidebar_circle_off 0.9s ;*/

}
/*@keyframes sidebar_circle_off {
from {border-color: transparent; }
to {border-color: #FFC107;}

}*/
.nav-pills .active a:hover:after {
  border-color: transparent;
}

.sidebar .menu_icon {
  color: #FFC107;
} 




.nav-pills > li.active > a {
  color: transparent;

}

.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  background-color: transparent;
  /*color: #FFC107;*/
  /*text-shadow: 0px 0px 0.5px rgba(0,0,0,0.5), 0px 0px 8px white, 0px 0px 15px white, 0px 0px 10px white, 0px 0px 20px white; */
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: #FFC107;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus { 
  background-color: transparent;
  outline: none;
}

.nav-pills {
  text-align: right;
  list-style-type: none; 
  text-transform: uppercase;
  
}


.nav-pills > li > a {
  border-radius: 23px;
  outline: none;
}

.nav > li > a:hover, 
.nav > li > a:focus {
  background-color: transparent;
}



/* ---------navbar--------- */


.navbar-default {
  background-color: transparent;
  border: none;
  z-index: 100;
}
.training .navbar-default {
  background-color: transparent;
  border: none;
  text-shadow: 0px 2px 5px rgba(0,0,0,.9); 
}


.navbar-brand {
  float: left;
  margin-top: 10px;
}

.training .navbar-brand,
.about_us .navbar-brand,
.method .navbar-brand {
  padding: 0;

  margin-bottom: 10px;
}


.navbar-brand img {

  margin: 0;
  padding: 0;
  max-width: 500px;
  position: relative;
}

.home .navbar-brand img,
.home .navbar-brand svg {
  position: fixed;
  width: 80px;
}
.about_us .navbar-brand img,
.method .navbar-brand img,
.article .navbar-brand img {
  max-width: 370px;
}

.about_us .phone_top,
.method .phone_top {
  font-size: 26px;
}


.home .phone_top  {
  position: fixed;
  right: 40px;
  margin-top: 39px;
  font-size: 26px;
  color: #FF5722;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: bold;
}

.phone_top,
.training .phone_top {
  position: relative;
  float: right;
  font-size: 40px;
  margin: 20px 10px; 
  padding: 0;
  top: 0;
  color: #FF5722;

}


/* ------------------ */

.l_stars {
  opacity: 0.2;
  
}
.l_stars_inv {
  opacity: 0.4;
}
.logo_sun {
  opacity: 0.2;

}

.p2_abstr {
  opacity: 0.5;
}

  
.main_message  {
  position: fixed; 
  text-transform: uppercase;
  text-align: center;
  color: #fff;
 
  z-index: 10;
  border-radius: 10px;
  padding: 0 20px;
  border-color: #fff;
  border: 2px;
 
  top: 30%;
  margin:  auto;
  margin-top: -50px;
  left: 0;
  right: 0;
  max-width: 70%;
}

.main_message h1 {
  line-height: 1.8;
  font-family: "RobotoCondensed-Regular", sans-serif;
  /*line-height: 1;*/
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0,0,0,.6);
 } 
.home .main_message h1,
.home .main_message h2,
.home .main_message h3,
.home .main_message h4 {
  line-height: 1.8;
  font-family: "RobotoCondensed-Regular", sans-serif;
  /*line-height: 1;*/
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0,0,0,.6); 

}
.home .main_message h1 {
  font-size: 64px;
}
.main_message p {
  font-size: 15px;
  text-transform: none;
  line-height: 1;
  text-shadow: 0px 1px 2px rgba(0,0,0,.8); 

   
}
 .glyphicon-arrow-right,
 .glyphicon-arrow-up { 
    text-shadow: 0px 1px 2px rgba(0,0,0,.6);
    -webkit-animation: mainmassage_arrow_off 0.7s ;
    animation: mainmassage_arrow_off 0.7s ;
}
@keyframes mainmassage_arrow_off {
from {text-shadow: none;  }
to { text-shadow: 0px 1px 2px rgba(0,0,0,.6); }
}
.glyphicon-arrow-right:hover,
.glyphicon-arrow-up:hover {
    text-shadow: none;
    -webkit-animation: mainmassage_arrow_on 0.7s ;
    animation: mainmassage_arrow_on 0.7s ;
}
@keyframes mainmassage_arrow_on {
from {text-shadow: 0px 1px 2px rgba(0,0,0,.6);  }
to { text-shadow: none; }
}


.home .glyphicon-arrow-up { 
  left: -5px;
}
.home .glyphicon-arrow-up:hover {
  left: -5px;
}
/*.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(rgba(244,134,58,0.01), rgba(244,134,58,0.4));
  background-image: -o-linear-gradient(rgba(244,134,58,0.01), rgba(244,134,58,0.4));
  background-image: linear-gradient(rgba(244,134,58,0.01), rgba(244,134,58,0.4));
  
}*/

.countdown {
  position: fixed;
  width: 500px;
  height: 100px;
  bottom: 3%;
  margin-bottom: -50px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9;

}
  .countdown-show4 .countdown-section {
  width: 24.5%;
  }

.btn_cntd {
  position: relative;
  bottom: 10%;
  margin-bottom: -10px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width:  60px;
  height:  60px;
  font-size: 40px;
  line-height: 3px;
  -webkit-animation: mainmessage_arrowcircle_off 0.7s ;
  animation: mainmessage_arrowcircle_off 0.7s ;
}
@keyframes mainmessage_arrowcircle_off {
from { box-shadow: 0px 1px 2px rgba(0,0,0,.6); border-color: #fff; }
to {  box-shadow: none; border-color: transparent;}
}
.btn_cntd:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,.6);
  -webkit-animation: mainmessage_arrowcircle_on 0.7s ;
  animation: mainmessage_arrowcircle_on 0.7s ;
}
@keyframes mainmessage_arrowcircle_on {
from { box-shadow: none; border-color: transparent; }
to {  box-shadow: 0px 1px 2px rgba(0,0,0,.6); border-color: #fff; }
}


.main_message .btn_cntd:active,
.main_message .btn_cntd:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  box-shadow: none;
}

.mmv_divider {
  background-color: #fff;
  width: 1px;
  height: 30px;
  display: block;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mmh_divider {
  background-color: #fff;
  width: 20%;
  height: 1px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.d_greyblue {
    background-color: #607D8B;
}
.training header {  
  background-image: url("img/space_bgr.jpg");

  min-height: 600px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;
}
#werwerhead {
  background-image: url("img/space_bgr2.jpg");
}
#werwerhead3 {
  background-image: url("img/space_bgr3.jpg");
}

.header .h_wrapper {
  position: relative;
  text-align: center;
}
.header_message {
  position: relative; 
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: 3;
  border-radius: 10px;
  border-color: #fff;
  border: 2px;

  background-color: transparent;
  padding: 10px 20px 10px;
  margin-top: 30px;
  text-shadow: 0px 2px 5px rgba(0,0,0,.9); 
}
.header_message .btn-default {
  background-color: transparent;
  border: 1px solid;
   border-color: #fff;
   color: #fff;
   border-radius: 5px;
   float: right;
}

.dark .btn-default {
  background-color: transparent;
  border: 2px solid;
   border-color: #fff;
   color: #fff;
   border-radius: 5px;
   z-index: 200;
}
.btn-default {
  background-color: transparent;
  border: 2px solid;
   border-color: #607D8B;
   color: #607D8B;
   border-radius: 5px;
   z-index: 200;
   text-transform: uppercase;
    font-family: "RobotoCondensed-Light", sans-serif;
    font-weight: normal;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #607D8B;
    border-color: #607D8B;
    color: #fff;
    border-width: 2px;
    font-weight: bold;

}
.btn-custom {
  float: right;
  border-radius: 3px;
  background-color: hsl(40, 100%, 57%) !important;
  background-repeat: repeat-x;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe2a8", endColorstr="#feb523");*/
  background-image: -moz-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -ms-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe2a8), color-stop(100%, #feb523));
  background-image: -webkit-linear-gradient(top, #ffe2a8, #feb523);
  background-image: -o-linear-gradient(top, #ffe2a8, #feb523);
  background-image: linear-gradient(#ffe2a8, #feb523);
  border-color: #feb523 #feb523 hsl(40, 100%, 50.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 5px;
  text-transform: uppercase;
}

.btn-custom:hover, .btn-custom:focus,
.btn_custom_nofloat:hover, .btn_custom_nofloat:focus {

  background-color: hsl(36, 100%, 47%) !important; 
  background-repeat: repeat-x;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbf60", endColorstr="#ef8f00");*/
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ef8f00), to(#ffbf60));
  background-image: -moz-linear-gradient(top, #ef8f00, #ffbf60);
  background-image: -ms-linear-gradient(top, #ef8f00, #ffbf60);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef8f00), color-stop(100%, #ffbf60));
  background-image: -webkit-linear-gradient(top, #ef8f00, #ffbf60);
  background-image: -o-linear-gradient(top, #ef8f00, #ffbf60);
  background-image: linear-gradient(#ef8f00, #ffbf60);
  border-color: #ffbf60 #ffbf60 hsl(36, 100%, 41.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
  margin: 5px;
}
.header .container {
  width: 58%;

}
.header_action {
 color: #fff;
  background-color: transparent;
  border: 2px solid;
  border-color: #fff;
  position: relative; 
  text-transform: uppercase;
  z-index: 3;
  padding: 10px 10px 10px;
  text-shadow: 0px 2px 5px rgba(0,0,0,.9); 
  margin: 0 auto 20px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.header_action strong,
.header_message strong {
  color: #FF5722;
}


.header_action p {
  margin: 0;

}

.head_parallax {
  top: 0;
  position: absolute;
  

}

.underhead, .intersection {
  color: #fff;
  position: relative;
  background-color: #607D8B;
  min-height: 70px;
}

.underhead .btn:hover,
.underhead .btn:focus,
.underhead .btn.focus,
.intersection .btn:hover,
.intersection .btn:focus,
.intersection .btn.focus
{
  border-width: 3px;
}

.underhead p,
.intersection p {
  margin: 5px;
  font-size: 14px;
  font-family: "RobotoCondensed-Light", sans-serif;
  line-height: 1;
  text-transform: uppercase;
 
}
.n_text_3 p, .n_text_4 p {
  font-size: 18px; 
  line-height: 1.2;
}


.underhead strong,
.intersection strong {
  font-size: 60px;
  display: inline-block;
  font-family: "RobotoCondensed-Light", sans-serif;
  font-weight: bold;
  float: left;
  margin-right: 0px;
  color: #FFC107;

}
.n_table {
    vertical-align: middle;
}
.num_par {
  display: flex;
  align-items: center;
  }
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.light {
  color: #000;
}

.teleska .head_text {
  color: #fff;
 /* background-color: #FFC107;*/
  background-color: transparent;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);

  position: relative; 
  text-transform: uppercase;
  margin: 0 auto;
  height: 65px;
  max-width: 750px;
  text-align: center;
  border-radius: 50px;
  z-index: 3;
  top: 70px;

}
.head_text h1 {

  line-height: 65px;
  margin: 0;
}
.black {
  background-color: #333;
  color: #fff;
}
.trueblack {
  background-color: #000000;
  color: #fff;
}
.teleska .black {
  position: relative;
  margin-top: -65px;
  padding-top: 174px;
  min-height: 600px;
  z-index: 2;
}
.white {
  /*background-color: #eee;*/
    background-color: #ffffff;
  color: #333;
}
.teleska .white {
   margin-top: -65px;
   padding-top: 174px;
   min-height: 600px;
}

.teleska .white .tel_icon {
  color: #333;
}
.teleska h3 {
  text-align: center;
}
.teleska .row,
.teleska .col-sm-9,
.teleska .col-sm-3,
.teleska .col-md-6,
.teleska .col-sm-6  {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.tel_text p {
   font-family: "RobotoCondensed-Light", sans-serif;
   list-style-type: none;
   font-size: 16px;
   text-transform: uppercase;
   padding-left: 0px;
   padding-right: 10px;

 }  

.tel_icon {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  /*padding-right: 0;*/
  /*padding-left: 0;*/
  /*font-size: 20px;*/
  /*margin-right: 0;*/
}
.tel-font {
  font-size: 70px;
}
.tel-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

.action_line {
  color: #fff;
  position: relative;
  background-color: #607D8B;
  min-height: 70px;
 

}

.action_line .btn-default {
  background-color: transparent;
  border: 2px solid;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  z-index: 200;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "RobotoCondensed-Light", sans-serif;
}   
.action_line .btn:hover,
.action_line .btn:focus,
.action_line .btn.focus {
  border-width: 3px;
  background-color: #fff;
  color: #607D8B;
}

.action_line p {
  font-size: 24px;
  font-family: "RobotoCondensed-Light", sans-serif;
  line-height: 70px;
  text-transform: uppercase;
  margin: auto;
}
.action_wrapper {
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.action_line h1 {
  margin: 0;
}
.order_text .header {
    text-align: center;
    width:100%;
    display: inline-block;
    text-transform: uppercase;
    font-size:28px;
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular', sans-serif;
}
.teleska {
  /*margin-bottom: -65px;*/
}
.free_call {

  background-attachment: fixed;
  min-height: 500px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #3E1512;
}
.action_message {
 color: #fff;
  background-color: transparent;
  border: 2px solid;
  border-color: #fff;
  position: relative; 
  text-transform: uppercase;
  z-index: 2;
  text-shadow: 0px 2px 5px rgba(0,0,0,.9); 
  margin: 0 auto;
  padding: 10px 10px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.free_call {
 display: flex;
 align-items: center;
}
.why_we {
  text-align: center;
}
.why_we h1 {
  margin: 70px 0;
}
.why_we li {
  list-style-type: none;
  text-align: left;
  font-family: "RobotoCondensed-Light", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
}
.why_we .glyphicon {
  font-size: 24px;
  margin-right: 15px;
  color: #607D8B;
}
.why_we_btn .btn-default {
  text-align: center;
  margin: 70px 0 15px;
  font-size: 36px;
}
.why_we h3 {
  color: #607D8B;
  margin-bottom: 35px;
}
.training footer,
.method footer,
.about_us footer,
.article footer {
  background-color: #607D8B;
  color: #fff;
}
.why_we ul {
  margin-bottom: 70px;

}
.footer-brand img {
  max-width: 70%;
  margin-top: 20px;
  margin-left: 15%;
}
footer h2 {
  line-height: 70px;
  margin: 0 auto;
  text-align: center;
}
footer p {
  margin-top: 10px;
  text-align: center;
}

.about_us header {  
  background-image: url("/img/yea-2.jpg");
  min-height: 300px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

}
.team_img img {
  max-width: 200px;
  border-radius: 50%;
}
.member_discr {
  margin-top: 15px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.2;

}
.member_head span {
  color: #607D8B;
}
.icon_types {
  color: #607D8B;
  width: 100%;
  font-size: 48px;
  line-height: 1;
  background-color: transparent;
  height: 100%;
  text-align: center;
  margin: 30px auto 0;
  display: inline-block;
}
.dealtype_item h4 {
  text-align: center;
}
.dealtype_item .add {
  text-align: center;
  text-transform: none;
}

.dealtype_item button {
  font-weight: bold;
  padding: 3px 5px;
  margin: 10px auto;
  float: none;
  display: inline-block;
  vertical-align: middle;
  
}

.about_us header {
  color: #484848;
}
.about_us footer p,
.method footer p {
  margin-top: 24px;
}
.modal h2 {
  text-align: center;
}
.about_us .main-container {
  padding-bottom: 20px;
}
.why_we_btn {
  margin: 10px 0 30px;
  background-color: rgba(96,125,139,.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}
.form-title {
  color: #607D8B;
  margin-top: 0;
  margin-bottom: 20px;
}


.training .submit {  

  /*background-attachment: fixed;*/
  min-height: 600px;
  max-height: 800px;
  background-position: top center;
    background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;
  background-color: #333333;
  padding: 60px 20px;
}
.training .submit p {
 font-family: "RobotoCondensed-Light", sans-serif;
 /*text-transform: uppercase;*/
 font-size: 16px;
 text-align: center;
}
.training .submit h1 {
  text-align: center;
}
.form-control {
  width: 50%;
  margin: auto;
  
}
.form-control:focus {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,192,53, 0.6);
}
.black input {
 color: #000;
 
}
.submit_block {
  /*background-color: rgba(0,0,0,.4);*/
  border-radius: 10px;
  border: 2px #fff solid;
  margin-top: 20px;
  padding-top: 10px;

}
.submit_block .btn {
  border-color: #fff;
  color: #fff;
}

.submit_block .btn:hover,
.submit_block .btn:focus,
.submit_block .btn.focus {
  background-color: #FFC107;
  color: #333;
  border: 2px #FFC107 solid;
  box-shadow: 0 0 8px rgba(255,192,53, 0.6);
}

.submit_block h2 {
  color: #ffffff;

}

.submit_parallax {
 position: absolute;
 left: 0;
}
.map {
  text-align: center;
  background-color: #003E4F;
}
.map h2 {
    margin-bottom: 0;
    margin-top: 10px;
}

.method_central {
    background-image: url("/img/method.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    min-height: 300px;
    z-index: 0;
    /*background-color: #eeeeee;*/
}
.method_central p {
    font-size:16px;
    text-shadow: 0 2px 5px #ffffff,0 1px 2px #ffffff, 0 0 10px #ffffff, 0 0 7px #ffffff;
}
#main_trainings {
  background-image: url("img/trainings.svg");
}
.method_avatar img {
  max-width: 100%;
  margin-top: 8px;
  margin-left: -20px;


}
.method_more {
  text-align: center;
}
.method_h {
  color: #607d8b;
}
.method p,
.article p,
.happiness p {
  font-size: 16px;
}
.method footer p {
  font-size: 14px;
}
.method .main p {
  margin-top: 20px;
}

.method button,
.method_more {
    display: inline-block;
    float: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    vertical-align: middle;
    -webkit-animation: method_btn_hover_off 0.5s ;
    animation: method_btn_hover_off 0.5s ;
}
@keyframes method_btn_hover_off{
to {  box-shadow:none;}
from {  box-shadow: 0px 3px 5px rgba(0,0,0,.5); }
}
.method button:hover,
.method_more:hover  {
  box-shadow: 0px 3px 5px rgba(0,0,0,.5);
  -webkit-animation: method_btn_hover_on 0.5s ;
    animation: method_btn_hover_on 0.5s ;
}
@keyframes method_btn_hover_on{
from {  box-shadow:none;}
to {  box-shadow: 0px 3px 5px rgba(0,0,0,.5); }
}
.method h2{
  font-size: 24px;
}

.method .white {
    background-color: #eeeeee;
    color: #333333;
    padding-bottom: 20px;
}
.body_oriented_therapy_head {
    background-image: url("/img/m_body_psychotherapy.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    background-color: #eeeeee;
}  
.head_hapiness {
    background-image: url("/img/h_hapiness.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    background-color: #eeeeee;
}
.head_psychotraining {
    background-image: url("/img/h_psychotraining.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    background-color: #eeeeee;
}


.method header,
.article header {
    min-height: 300px;
}
.article header {
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}
.method_name {
  margin-top: 20px;
}
.banner {
  text-align: center;
}
.method .banner h1 {
  font-size: 64px;
  /*text-shadow: -2px -2px 2px #fff, 2px 2px 2px #000;*/
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #000;
  opacity: 0.5;

}
.method  h1 {
  opacity: 0.9;
}

.method .method_txt,
.small_txt p {
  font-size: 12px;
  line-height: 1.2;
}
.article .small_txt h3 {
    font-size:18px;
    color: #333;
}
.method h3 {
  opacity: 0.3;
}
.article h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.article h2 {
  text-align: center;
  width: 100%;
/*  color: #607D8B;*/
  color: #333;
  opacity: 0.4;
}
.article h3,
.article h4,
.article h5 {
  color: #607D8B;
}
.article h4 {
font-size: 20px;
margin-top: 30px;

}
.article h5 {
font-size: 18px;
}
.method .main-container p {
  text-align: justify;
  line-height: 1.4;
}
.method h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 5px;
}
.happiness .white  h1 {
    background-color: transparent;
    text-align: center;
    color: #607D8B;
    font-size: 3em;
}
.happiness .white  h3 {
    color: #607D8B;
}
.bottom_buttons {
  margin-top: 40px;
}
.bottom_buttons a,
.bottom_buttons button {
  display: block;
  margin: 20px auto;
  width: 280px;
} 
.article .container {
  width: 100%;
  padding: 0;
}
.article .row {
  margin: 0px;
}
.article .col-sm-12 {
  padding: 0px;
}
.happy_image img {
  width: 100%;
  /*opacity: 0.6;*/
  opacity: 0.8;
}
.praslav {
  margin-top: 67px;
  padding: 0 100px;
}
.happy_discr_img img {
  width: 50%;
  margin-left: 25%;
  margin-top: 8%;
  margin-bottom: 8%;
  opacity: 0.3;
}
.article_img img {
    width: 100%;
    margin-left: 0px;
    /*margin-top: 8%;*/
    margin-bottom: 8%;
    opacity: 0.8;
}


.happy_discr_ns_logo img {
  width: 56%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 8%;
  opacity: 0.3;
}
.happy_discr_picture img {
  width: 56%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 8%;
  opacity: 0.3;
}
.happy_discr_picture a { 
  text-align: center;
  /*color: transparent;*/
  color: #333333;
  width: 100%;
}
.happy_discr_picture a:hover { 
 
  color: #333333;
  text-decoration: none;
}
.happy_text {
  /*padding-top: 30px;*/
  padding-right: 5%;
  padding-bottom: 30px;
  padding-left: 5%;
}
.happy_head {
  /*padding-top: 30px;*/
  padding-right: 5%;
  padding-bottom: 30px;
  padding-left: 5%;
}
.happy_divider {
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #607D8B;
  position: relative;
}
.happy_text .btn-default {
  padding: 1px 5px;
  border: 1px solid;
}
.way_to_hapiness {
  font-family: "RobotoCondensed-Light", sans-serif;
  color: #607D8B;
  text-transform: lowercase;
  margin-top: 20px;
  display: inline-block;
}
.quote_author {
  
  width: 60%;
  margin-left: 40%;
  position: relative;
  display: block;
  font-family: "RobotoCondensed-Light", sans-serif;
}
.quote_divider {
  height: 1px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #607D8B;
  position: relative;
}
.quote p {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.quote .btn-default {
  padding: 1px 5px;
  border: 1px solid;
  margin: 20px;
}
.philosopher { 
  width: 50%;
  margin-left: 50%;
  position: relative;
  display: block;
  font-family: "RobotoCondensed-Light", sans-serif;
  margin-top: 20px;
}
.phil_name {
  display: block;
  margin-top: -35px;
  font-family: "RobotoCondensed-Light", sans-serif;
  font-size: 16px;
  opacity: 0.3;
    text-align: center;
}
.happiness .phil_name {
    display: block;
    margin-top: -10px;
    font-family: "RobotoCondensed-Light", sans-serif;
    font-size: 16px;
    opacity: 0.3;
    text-align: center;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }



.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}    

.article .btn-default{
  padding: 5px 5px;
  border: 1px solid #607d8b ;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: normal;
  -webkit-animation: article_btn_hover_off 0.5s ;
  animation: article_btn_hover_off 0.5s ;
}
@keyframes article_btn_hover_off{
to { box-shadow:none;}
from { box-shadow: 0px 3px 5px rgba(0,0,0,.5); }
}
.article .btn-default:hover{
  border: 1px solid #607d8b;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: normal;
  box-shadow: 0px 3px 5px rgba(0,0,0,.5);
  -webkit-animation: article_btn_hover_on 0.5s ;
  animation: article_btn_hover_on 0.5s ;
}
@keyframes article_btn_hover_on {
from { box-shadow:none;}
to { box-shadow: 0px 3px 5px rgba(0,0,0,.5); }
}

.article .outsideoftext {
  margin-left: 30px;
}

.centerbutton {
  margin-top: 30px;
  margin-bottom: 20px;
}
.happy_music ul li,
.happy_cinema ul li {
  font-size: 16px;
  list-style-type: none;
  text-align: center;

}
.happy_music h4 {
text-align: center;
}

.symbol_name {
  padding-right: 5%;
  padding-left: 5%;
}
.intext {
  margin-left: 5px;
  margin-right: 5px;
}
.article footer h2 {
  color: white;
  opacity: 1;
}
#lastpart {
  margin-bottom: 30px;
}
.infolink,
.happy_economy a {
  font-size: 16px;
  color: #1A98CC;
}

.infolink:hover,
.happy_economy a:hover,
.toplink:hover  {
  color: #1A98CC;
  opacity: 1;
  text-shadow: 0px 3px 5px rgba(0,0,0,.5);
  text-decoration: none;
  -webkit-animation: toplink_hover_on 0.5s ;
  animation: toplink_hover_on 0.5s ;

}
@keyframes toplink_hover_on {
from { text-shadow:none;}
to { text-shadow: 0px 3px 5px rgba(0,0,0,.5); }

}
.toplink {
  font-size: 16px;
  text-transform: lowercase;
  margin-left: 10px;
  display: inline-block;
  color: #1A98CC;
  opacity: 1;
  -webkit-animation: toplink_hover_off 0.5s ;
  animation: toplink_hover_off 0.5s ;

}
@keyframes toplink_hover_off {
to {text-shadow:none;}
from {text-shadow: 0px 3px 5px rgba(0,0,0,.5); }

}
.method ul li {
  list-style-type: none;
}
.article .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
.article form {
  text-align: center;
}
.quote_modal_head {
  text-align: center;
}
.article p {
  text-align: justify;
}
.article .text-center p {
  text-align: center;
}
#lastpart h4 {
  color: #333;
  opacity: .4;
}
.footercopyright {
  margin-top: 12px;
}
.centershort {
  margin-top: 0px;
  top: 38%;
}
.margin-30 {
  height: 30px;
}
.margin-50 {
  height: 50px;
}
.margin-100 {
  height: 100px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}
.mb50{
  margin-bottom: 50px;
}
.why_we p {
  font-family: "RobotoCondensed-Light", sans-serif;
  font-size: 21px;
}
.btn_custom_nofloat {
    background-color: #feb523 !important;
    background-image: linear-gradient(#ffe2a8, #feb523);
    background-repeat: repeat-x;
    border-bottom-color: #ffaa02;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-color: #feb523;
    border-right-color: #feb523;
    border-top-color: #feb523;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333333 !important;
    float: none;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
}
.formlog {
  display: none;
}

.about_us p {
  text-align: justify;
  
}
.about_us .text-center p {
  text-align: center;
}

#vk_comments {
    position: relative;
    margin-top: 30px;
}


/*
light Yellow #FFD453
light green (seawave) #20FFC8
bright blue #0733FF
blue #1A98CC
sky blue #4798FF
*/
.homelink {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #FFD453;
  border-color: #FFD453;
  color: #538FBD;
  z-index: 200;
  font-size: 16px;
  font-family: "RobotoCondensed-Regular",  sans-serif;
  font-weight: normal; 
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 200px;
  
 -webkit-animation: homemainlinks_hover_off 0.5s ;
  animation: homemainlinks_hover_off 0.5s ;
}
@keyframes homemainlinks_hover_off {
to { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); color: #538FBD;  }
from { box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6); color: #0F63A4; }

}

.homelink:hover {
  color: #0F63A4;
  background-color: #FFD453;
  border-color: #FFD453;
  outline: none;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
  -webkit-animation: homemainlinks_hover_on 0.5s ;
  animation: homemainlinks_hover_on 0.5s ;
}
@keyframes homemainlinks_hover_on {
from { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); color: #538FBD;  }
to { box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6); color: #0F63A4; }

}
.btn:focus,
.btn:visited,
.btn:link,
.btn:active,
.btn:hover:active {
  outline: none;
}
.home a:focus,
.home a:visited,
.home a:link,
.home a:active,
.homelink:hover:active {
  outline: none;
}
.home .main_message .onemainword {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "RobotoRegular",  sans-serif;
  cursor: default;
}
.home .centershort{
  top: 50%;
  margin-top: -106px;
}
.bottomhomelink {
  margin-bottom: 2px;
}
#footercopy{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.alert {
  z-index: 1000;
  position: fixed;
  top: 15px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}
.library .page-title {
    color: #607D8B;
}
.alert-success,
.alert-error {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  border-color: rgba(250,250,250,0.6);
}
.alert-success .close:hover, .close:focus,
.alert-error .close:hover, .close:focus {
    color: #fff;
    opacity: 1;

}
.alert-success .close,
.alert-error .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: .8;
}
.library .panel {
    -webkit-box-shadow: unset;
    box-shadow: unset;

}


