/*sun menu*/
#start_loader {
    background: none repeat scroll 0 0 white;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#sunmenudiv {
    height: 100%;
}
.sunmenu {
    position: fixed;
    z-index:8;
}

.sunmenu svg {
    /*height: 100vh;*/
    height: 100%;
    /*height: 400px;*/
    /*width: 400px;*/
    float: left;

}
.sunmenu a {
    text-decoration: none;
}
.centerfirst {
    /*color: rgba(0,0,0,0.2);*/
    /*fill: rgba(0,0,0,0.1);*/
    /*fill: rgba(255,193,7,0.6);*/
    /*text-decoration: underline;*/
    /*text-shadow: 2px 2px 3px rgba(255,255,255,0.1);*/

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9),
    0px 0px 2px rgba(0, 0, 0, 0.5),
    0px 1px 10px rgba(255, 255, 255, 0.2),
    0px -1px 10px rgba(255, 255, 255, 0.2),
    1px 0px 10px rgba(255, 255, 255, 0.2),
    -1px 0px 10px rgba(255, 255, 255, 0.2);

}
/*#sun_menu {
  height: 100%;
}
*/
.sunbeam {
    cursor: pointer;
    text-transform: uppercase;
    /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1),*/
    /*0px 0px 1px rgba(0, 0, 0, 0.9),*/
    /*0px 0px 2px rgba(0, 0, 0, 0.1),*/
    /*0px 1px 3px rgba(255, 255, 255, 0.9),*/
    /*0px -1px 3px rgba(255, 255, 255, 0.9),*/
    /*1px 0px 3px rgba(255, 255, 255, 0.9),*/
    /*-1px 0px 3px rgba(255, 255, 255, 0.9);*/

    /*text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9),*/
    /*0px 0px 2px rgba(0, 0, 0, 0.9),*/
    /*0px 1px 3px rgba(15, 99, 164, 0.7),*/
    /*0px -1px 3px rgba(15, 99, 164, 0.7),*/
    /*1px 0px 3px rgba(15, 99, 164, 0.7),*/
    /*-1px 0px 3px rgba(15, 99, 164, 0.7);*/

}
.menu_center_1 {
    cursor: default;
}
.suncenter, .centerfirst {
    text-transform: uppercase;
}
/*.subchild {*/
    /*transform-origin: 50% 50%;*/
/*}*/
.sunMenuIcon{
    position: fixed;
    left:-8vh;
    top: 42vh;
    /*margin-top: -20vh;*/
}
.sunMenuIcon #logosun{
    transform-origin: 50% 53% 0px;
    width: 15vh;
    position: relative;
}

#logosunIcon {
    position: fixed;
    width: 50px;
    z-index: 10;
    top: 14px;
    left:20px;
    /*margin-top: -25px;*/
    cursor: pointer;
}

.vizibleOff {
    display: none;
}

.menufilter , #menubackfilter {
    width: 100%;
    height: 100%;
    background-color: rgba(96,125,139,.8);
    position: fixed;
    top: 0px;
    display: none;
}
.backfilterOff,
#menubackfilter .backfilterOff{
    height: 0px;
    animation: backfilter_off 0.8s linear normal;
    animation-fill-mode:forwards;
}


@keyframes backfilter_off {
    0% {
        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
    90% {
        background-color: transparent;
        height: 100%;
    }
    100% {
        background-color: transparent;
        height: 0px;
    }

}
.backfilterOn,
#menubackfilter .backfilterOn{
    display: block !important;
    animation: backfilter_on 0.4s linear normal;
    animation-fill-mode:forwards;
    z-index: 5;
}


@keyframes backfilter_on {
    0% {
        background-color: transparent;
        height: 100%;

    }
    100% {

        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
}



.white h4 {
    color: #a6a6a6;
}

.white .m_textbox {
    border: 2px solid #FFC107;
}
.white .m_box,
.white .m_box p  {
    border-color:  #FFC107;
}
.white #arrow,
.white #arrow_up {
    stroke:#FFC107;
}


.mt10 {
    margin-top: 10px;
}
.mt12 {
    margin-top: 12px;
}
.mt15 {
    margin-top: 15px;
}
.mt22 {
    margin-top: 22px;
}
.mt30 {
    margin-top: 30px;
}
.mt50 {
    margin-top: 50px !important;
}
.mt100 {
    margin-top: 100px !important;
}
.mt120 {
    margin-top: 120px;
}
.mt150 {
    margin-top: 150px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb120 {
    margin-bottom: 120px;
}
.mb100 {
    margin-bottom: 100px;
}
#arrow{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke:#FFFFFF;
    stroke-width:2;

}
#arrow_up {
    position: absolute;
    top: -115px;
    right: 100px;
    stroke-width:2;

}
.ya-share2__list_direction_horizontal > .ya-share2__item {
    margin-bottom: 4px !important;
}
.paddind_lr_20{
    padding-left:20px;
    padding-right:20px;
}




/* иконка v2 */
 #menuname {
    position: absolute;
    left: 0;
    top: 30px;
    font-family:"RobotoRegular", sans-serif ;
    font-size:12px;
    color: #FCC116;


}

/*// All good burgers need filling!*/

.burger-icon {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
}

.burger-container {
    position: relative;
    height: 28px;
    width: 36px;
}

#burgerTop,
#burgerBot,
#burgerFilling {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: #FFC107;
}
#burgerTop {
    top: 0;
    /*transform-origin: 34px 2px;*/
}

#burgerBot {
    bottom: 0;
    /*transform-origin: 34px 2px;*/
}

#burgerFilling {
    top: 12px;
}

/*// burger ring container*/
.burger-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

.svg-ring {
    width: 68px;
    height: 68px;
}

.reglink {
    display: block;
    color: #FFC107;
    position: relative;
    margin-top: 10px;
    float: right;
    text-transform: uppercase;
    font-family: "RobotoCondensed-Regular", sans-serif;
    -webkit-animation: link_hover_off 0.5s ;
    animation: link_hover_off 0.5s ;

}
@keyframes link_hover_off {
    to {text-shadow:none;}
    from {text-shadow: 0px 3px 5px rgba(0,0,0,.5); }

}

.reglink:hover  {
    color: #FFC107;
    text-shadow: 0px 3px 5px rgba(0,0,0,.5);
    text-decoration: none;
    -webkit-animation: link_hover_on 0.5s ;
    animation: link_hover_on 0.5s ;

}
@keyframes link_hover_on {
    from { text-shadow:none;}
    to { text-shadow: 0px 3px 5px rgba(0,0,0,.5); }

}
.nodis {
    display: none;
}
.panel {
    margin-bottom: 0;
}